
@import url("/src/pages/Theme.css");



/* Page settings */
.home-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 5vh;
    justify-content: center;
}
.home-page #layerOne {
    display: flex;
    flex-direction: row;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}
.home-page a {
    color: var(--root-text-color);
}


/* Menu Item settings  */
.custom-icon .pi {
    color: var(--menu-icon-color); 
    font-size: 3rem;
}
.home-page .p-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    height: fit-content;
}
.home-page .p-menuitem-link {
    display: flex;
    white-space: normal !important;
}
.home-page .p-menuitem-content {
    display: flex;
    flex-grow: 1;
    box-sizing: content-box;
}
.home-page .p-menuitem-text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
.home-page .main-text {
    font-weight: bold;
    margin-bottom: 4px;
}
.home-page .sub-text {
    font-size: 0.85em;
    color: var(--green-text-color);
}

/* Carousel Settings */ 
.home-page .p-carousel-next-icon, .home-page .p-carousel-prev-icon { 
    color: #000000; 
}
.home-page .p-carousel-container { 
    display: flex;
    flex-grow: 1;
    max-width: 60vw;
    justify-content: center;
    margin: 0 auto;
}
.home-page .carousel-link { 
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    max-width: fit-content;
    text-align: center;
}
.home-page .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}
.home-page .p-carousel-items-content { 
    max-width: fit-content;
    /* border: 1px solid gray;     */
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.home-page .p-card { 
    background-color: var(--root-background-color);
    color: var(--root-text-color);
}
#layerOne > div.carousel-demo > div > div > div > div > div > div.p-carousel-item.p-carousel-item-active.p-carousel-item-start.p-carousel-item-end {
   /* This is the style for the center active item on the carousel */
    justify-content: center;
    align-items: center;
    display: flex;
}
.home-page .carousel-image { 
    width: 50vw;
    height: 40vh;
    border-radius: 3%;
    object-fit: cover;
}





/* Accordian settings */
.home-page .p-accordion {
    width: 90vw; 
    max-width: 90vw; 
}
.home-page .p-accordion .p-accordion-header {
    background-color: var(--accordion-background); /* Custom background color for Accordion headers */
    color: var(--accordion-color); /* Custom color for Accordion headers */
}
.home-page .p-accordion .p-accordion-header .p-accordion-header-link {
    background-color: var(--accordion-background);
    color: var(--accordion-color);
}
.home-page .p-accordion .p-accordion-header .p-accordion-header-link:hover {
    background-color: var(--accordion-hover-background);
    color: var(--accordion-hover-color);
}
.home-page .p-accordion .p-accordion-content {
    background-color: var(--accordion-background); /* Custom background color for Accordion content */
    color: var(--accordion-color); /* Custom color for Accordion content */
}