@import url("/src/pages/Theme.css");


img { 
    max-width: 60vh;
}


.mantapage h1 { 
    text-align: center;
}

.mantapage .p-card { 

    margin: 5vw;
}

.mantapage .p-card-content { 
    display: flex;
    align-content: center;
    flex-direction: row;
}