
@import '../Vars.css';


.parallax { 
    overflow: hidden;
}

.parallaxLayer::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

.parallaxLayer {
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;  /* For Firefox */
}

