
@import '../Vars.css';


:root {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--accent1-pal);
  color: var(--light-pal);

  padding: 0;
  margin: 0;
}



body, html { 
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Ensure no overflow on body */
  overflow: hidden;
  height: 100%;
}

/* Hide scrollbars for Webkit browsers */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for Firefox */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}


#links { 
    background-color: var(--light-pal);
}

a:visited {
  color: var(--accent2-pal);
}
a {
  color: var(--accent3-pal);
}
