
/* PrimeCarousel.css */

.carousel-container {
    display: flex;
    align-items: center; /* Center the carousel vertically */
    flex-grow: 1;
    border: 3px solid red;
    max-width: 100%; /* Allow the carousel to expand to the full width of its container */
}


.product-item { 
    display: flex;
    flex-grow: 1;
    border: 3px solid blue;
    padding: 10px;
    margin: 16px;
    width: 150px;

}
