
:root {
  --menubar-color: #292533;
}

body, html, #root {
  display: flex;
  flex-grow: 1;
}

body { 
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #465046;
}

.main-window { 
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  /* height: 100vh; */
  margin: 10px;
  margin-left: 10px;
}

.top-level {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#topBar {
  background-color: var(--menubar-color);
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}

/* Change the background color of the Menubar */
#topBar.p-menubar, #topBar.p-menubar > .p-menuitem	 {
  background-color: var(--menubar-color); 
}

.top-level .p-menubar .p-submenu-list {
  background-color: var(--menubar-color);
  border-color: var(--menubar-color);
}

.top-level .p-menubar .p-menuitem-link {
  background-color: var(--menubar-color);
}
