

:root {
  --dark-pal: #1B1422;
  --grey-pal: #C4BBB8;
  --accent1-pal: #136F63;
  --accent2-pal: #22AAA1;
  --accent3-pal: #B8336A;
  background-color: var(--grey-pal);
  color: var(--accent2-pal);


  
}

/* make all links on this page use --accent3-pal color */
a {
  color: var(--accent3-pal);
}

body, html { 
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Ensure no overflow on body */
  overflow: hidden;
  height: 100%;
}

h1 {
  color: var(--dark-pal);
} 

/* Hide scrollbars for Webkit browsers */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for Firefox */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.parallaxLayer{
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center justify the text horizontally */
  width: 100%;
  border-radius: 10px;
  border-color: #136F63;
}

#links {
  background-color: var(--grey-pal);
  color: var(--accent1-pal);
  align-self: flex-start;
}