 :root {
 /* Pallet 1
  --dark-pal: #1B1422;
  --light-pal: #C4BBB8;
  --accent1-pal: #136F63;
  --accent2-pal: #22AAA1;
  --accent3-pal: #B8336A; */

  /* Pallet 2
  --dark-pal: #07080D;
  --light-pal: #FDFFFC;
  --accent1-pal: #119DA4;
  --accent2-pal: #464F51;
  --accent3-pal: #daa4cb; */

  /* Pallet 3 */
  --dark-pal: #000000;
  --light-pal: #B8B8B8;
  --accent3-pal: #D81E5b;
  --accent1-pal: #1b2220;
  --accent2-pal: #613DC1;


  font-family: Arial, Helvetica, sans-serif;
  color: var(--light-pal);
}